.valueBox input {
  height: 24px;
  width: 100px;
  /* background-color: transparent; */
  border: 1px solid black;
  /* outline: none; */
  margin: 0;
  box-sizing: border-box;
  /* opacity: 0; */
}

.valueBox:checked {

}

.valueBox input:checked {
    border: solid 2px white;
}
